{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended"
  ],
  "settings": {
    "import/parser": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "import/no-absolute-path": "off",
    "import/no-named-as-default-member": "off",
    "import/newline-after-import": ["error", { "count": 1 }],
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "lines-between-class-members": "off",
    "implicit-arrow-linebreak": "off",
    "max-len": "off",
    "no-unused-vars": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "semi": "off",
    "linebreak-style": ["error", "unix"],
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "brace-style": "off",
    "@typescript-eslint/brace-style": "off"
  }
}
